/* your code here */
.top{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: gray;
	color:white;
	padding:6px 26px;
	font-size:18px;
	font-family:cursive;
}
.content{
	background-color:black;
	height:360px;
	color:white;
	font-family:cursive;
}
.logo_name{
	font-size: 36px;
}
.logo-details{
	margin:26px 46px;
}
th{
	font-size:20px;
	text-decoration:underline;
}
td{
	padding:6px 46px;
}
table{
	width:100%;
}
